# Ignora el archivo de variables de entorno
.env

# Ignora archivos y carpetas temporales
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.tmp
*.bak
*.swp
*.DS_Store

# Ignora entornos virtuales
venv/
env/
.venv/
.env/

# Ignora archivos temporales de Streamlit
.streamlit/config.toml
